{
  "presets": [
    // 这个数组的前后顺序没影响，但是
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "chrome": "67"
        }
      }
    ],
    ["@babel/preset-react"]
  ]
}