{
  "presets": [
    // 先执行@babel/preset-react，再执行@babel/preset-env, 先把react的代码，转为es6，再转换es6的代码为es5
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "chrome": "67"
        }
      }
    ],
    ["@babel/preset-react"]
  ]
}